{% extends "base.html" %}

{% block main_content %}



<h1> {{g.user}}'s Account </h1>

<img class="user-pfp" src="{{url_for('static', filename= 'pfp/' + pfp[0] ) }}" alt="profile picture">




<section id="favourites">
    <h2>Favourites</h2>


{% if favourite_movies %}
    {% for movie in favourite_movies%}

    <a href="{{ url_for('movie', movie_id=movie['id']) }}">
    <p class="title">{{movie['title']}}</p>
    <img src="{{url_for('static', filename=movie['poster'])}}" alt="poster">

    {% endfor %}
    
    {% else %}
    <p>You have no favourites.</p>
{% endif %}





</section>




<section class="account-ratings">
    <h2>Ratings:</h2>
    <ul>
        {% for rating in ratings %}
        <li>
            <p>{{rating['title']}}</p>
            <p>Your Rating: {{rating['user_rating']}}</p>
            <a href="{{ url_for('movie', movie_id=rating['id']) }}">
            <img src="{{url_for('static', filename=rating['poster'])}}" alt="poster"></a>
            
        </li>
        {% endfor %}
    </ul>
</section>


<section class="account-reviews">
    <h2>Reviews:</h2>
    <ul>
        {% for review in reviews %}
        <li>
            <p>{{review['title']}}</p>
            <p>"{{review['user_review']}}"</p>
        </li>
        {% endfor %}
    </ul>
</section>


<footer><small>All posters created by me.</small></footer>

{% endblock %}