{% extends "base.html" %}

{% block main_content %}

<h1> Welcome to Film </h1>


<form action="" method="Post" novalidate class="registration">
    {{form.hidden_tag()}}
    {{form.user_id.label}}
    {{form.user_id(placeholder="Username")}}
    {% for error in form.user_id.errors %}
        {{error}}
    {%endfor%}
    <br>
    {{form.password.label}}
    {{form.password(placeholder="Password")}}
    {% for error in form.password.errors %}
        {{error}}
    {%endfor%}
    <br>
    {{form.password2.label}}
    {{form.password2(placeholder="Confirm Password")}}
    {% for error in form.password2.errors %}
        {{error}}
    {%endfor%}

    <br>
    {{form.profilepic.label}}
    <br>

    {% for pfp in form.profilepic %}
    <label>
    <input type="radio" name="profilepic" value={{pfp.data}} {% if pfp == form.profilepic.data %} checked {% endif %}/>
    <img class="register-pfp" src="{{url_for('static', filename='pfp/' + pfp.data )}}" alt=pfp.data>
</label>
    {%endfor%}

    <br>
    {% for error in form.profilepic.errors %}
        {{error}}
    {%endfor%}
    <br>

    {{form.submit()}}

</form>

<p> Already have an account? <a href="login">Login Here!</a></p>
<p>{{message}}</p>


{% endblock %}